{% load static %}
<div class="navbar2">
    <div class="logo">
        <a href="{% url 'create' %}" class="link">
            <button class="mt-3 btn btn-success btn-block py-3" style="background: #9FA8DA;">
                На главную
            </button>
        </a>
    </div>
    <div class="logo">
        <a href="{% url 'profile' %}" class="link">
            <button class="mt-3 btn btn-success btn-block py-3" style="background: #9FA8DA;">
                Профиль
            </button>
        </a>
    </div>
</div>
