{% extends './base.html' %}
{% block title %}Главная.{% endblock %}
{% block header %} bg1 {% endblock header %}
{% block content %}
    <div class="devise">
        <h4>
            Подберите для себя лучшую книгу!
        </h4>
    </div>
    <div class="cities-block">
        {% for book in books.all %}
            <div class="city">
                <div class="img">
                    <h5 class="city-name card-title">{{ book.name }}</h5>
                    <p>{{ book.title }}</p>
                    <p>{{ book.author }}</p>
                    <p>{{ book.description }}</p>
                    <p>{{ book.price }}</p>
                    <div class="dropdown-center">
                        <button class="colorBtn btn btn-secondary dropdown-toggle"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false"
                                style="background: #9FA8DA">
                            Фильтры
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <form action="{% url 'delete' book.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button class="del mt-3 btn btn-success btn-block py-3" style="background: red;">
                                        Удалить книгу
                                    </button>
                                </form>
                                <form class="update" action="{% url 'update' book.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="_method" value="patch"/>
                                    {{ form.as_p }}
                                    <button class="mt-3 btn btn-success btn-block py-3" style="background: #9FA8DA;">
                                        Обновить книгу
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="dropdown-center">
            <button class="colorBtn btn btn-secondary dropdown-toggle"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="background: #9FA8DA">
                Добавить книгу
            </button>
            <ul class="dropdown-menu">
                <li>
                    <form class="update" action="{% url 'create' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="mt-3 btn btn-success btn-block py-3" style="background: #9FA8DA;">
                            Добавить книгу
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}